@import "tailwindcss";

:root {
  --text-color: #ffff;
  --desc-color: #D1D5DC;
  --blue-color: #1447E6;
  --blue-color2: #51A2FF;
  --bg-gray-color: #1E2939;
  --gradient: linear-gradient(to right, #3A7EFF, #AB49FF);
}

@font-face {
  font-family: 'Tanha';
  src: url('/fonts/Tanha/Tanha.woff2') format('woff2'),
    url('/fonts/Tanha/Tanha.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--text-color);
  font-family: 'Tanha', sans-serif;
  direction: rtl;
}

.button {
  outline: none;
  color: var(--desc-color);
  font-size: medium;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.hover:hover {
  opacity: .7;
  transition: .35s;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  opacity: .7;
  transition: .35s;
}

/* NAVBAR */

header {
  animation: headerAni 1s ease-in-out 1;
}

.list-item:hover {
  color: oklch(88.2% 0.059 254.128);
  transition: .35s;
  transform: translate(0, -2px);
}


.active-link {
  border-bottom: 3px solid var(--blue-color);
}

.humburger-line {
  position: absolute;
  height: 3px;
  animation: humburgerLineAni .2s ease 1 alternate;
}

.humburger-line:first-child {
  transform: rotate(45deg);
}

.humburger-line:last-child {
  transform: rotate(-45deg);
}

@keyframes headerAni {
  0% {
    transform: translate(0, -100px);
    opacity: .1;
  }
}

@keyframes activeNavAni {
  0% {
    top: -500px;
  }
}

@keyframes inactiveNavAni {
  0% {
    top: 0;
    display: block;
  }

  60% {
    opacity: 0;
  }
}

@keyframes humburgerLineAni {
  0% {
    transform: rotate(0);
  }
}

@media screen and (max-width:768) {

  nav {
    display: none;
  }

  .active-nav {
    width: 100%;
    padding: 50px;
    background-color: #101828;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    animation: activeNavAni .35s ease-in-out 1;
  }

  .inactive-nav {
    width: 100%;
    padding: 50px;
    background-color: #101828;
    position: fixed;
    top: -500px;
    right: 0;
    animation: inactiveNavAni .35s ease-in-out 1;
  }

}

/* HERO */

.hero-image-baner {
  position: absolute;
  background-color: var(--bg-gray-color);
  bottom: -10px;
  right: -10px;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  color: var(--blue-color2);
  font-weight: 300;
  animation: heroImageBanerAni 2s linear infinite alternate;
}

.typewriter {
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  border-left: 1px solid #fff;
  animation: blink 1s step-end infinite;
}

.hero-right-section {
  animation: heroRightAni 1s ease 1;
}

.hero-image {
  animation: heroLeftAni 1s ease 1;
}

@keyframes heroImageBanerAni {
  0% {
    bottom: 3px;
    box-shadow: 0 0 6px rgb(0, 0, 255);
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

@keyframes heroRightAni {
  0% {
    transform: translate(-20, 10);
    opacity: 0
  }
}

@keyframes heroLeftAni {
  0% {
    opacity: 0;
    padding: 20%;
  }
}

/* ABOUT */

.skill-color {
  background: var(--gradient);
}

.visable-box {
  display: block;
  animation: visibleBoxAni .75s ease 1;
}

.hidden-box {
  display: none
}

@keyframes visibleBoxAni {
  0% {
    opacity: 0;
  }
}

/* UTILITIES */

@layer utilities {

  .start-screen {
    @apply flex justify-start items-center;
  }

  .center-screen {
    @apply flex justify-center items-center;
  }

  .between-screen {
    @apply flex justify-between items-center;
  }

  .end-screen {
    @apply flex justify-end items-center;
  }

  .bg-page {
    @apply min-h-screen w-full bg-gradient-to-br from-gray-900 via-gray-800 to-black;
  }

}